@import '../assets/scss/variables';


.table-container {
  max-width: 100%;
  overflow-x: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: $color-primary;
    color: $font-color-light;
    text-align: left;

    th {
      border: none;
      font-size: 1.125rem;
      padding: 2rem 1.25rem;
      white-space: nowrap;
    }
  }

  tbody tr {
    border-bottom: none;

    &:nth-of-type(even) {
      background-color: $background-color;
    }

    &:last-of-type {
      border-bottom: 4px solid $color-primary;
    }

    td {
      padding: 1rem 1.25rem;
      border: none;
      white-space: wrap;

      img {
        max-width: 100px;
        height: auto;
      }
    }
  }

}


#message {
  display: none;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
}


/* Estilos para la sección de filtros */
#filter-section {
  background-color: white;
  padding: 2rem;
  border: none;
  border: 1px solid darken($background-color, 10%);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  border-radius: 3px;
}

/* Estilos para los campos de filtro */
input[type="text"],
input[type="number"] {
  flex-grow: 1;
  min-width: 200px;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid darken($background-color, 10%);
  border-radius: 3px;

  &:focus, &:hover, &:active {
    border: 1px solid $color-primary;
  }
}

/* Estilos para el botón del filtro */
button {
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  padding: 1rem 1.5rem;

  &#apply-filters {
    background-color: $color-secondary;
    color: $font-color-light;
  }

  &#apply-filters:hover {
    background-color: darken($color-secondary, 10%);
  }

  &#reset-filters {
    background-color: $background-color;
    color: $font-color;
  }

  &#reset-filters:hover {
    background-color: darken($background-color, 5%);
  }
}
